<section data-ng-controller="PostsController" ng-init="initialPost()">
    <section class="content-header">
        <h1>Bộ truyện</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="callout">
                <div class="box-footer">
                    <div class="form-group">
                        <!-- <a class="btn btn-primary" ng-click="create()">Create</a>
                       -->
                        <a class="btn btn-primary" ng-click="create(PostForm.$valid, 'GOTOLIST')">Lưu & thoát</a>
                        <a class="btn btn-primary" ng-click="create(PostForm.$valid)">Lưu</a>
                        <input type="button" value="Thoát" class="btn btn-default" ng-click="gotoList()">
                    </div>

                    <notice-dir></notice-dir>

                </div>
            </div>
            <form name="PostForm" novalidate>
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bộ truyện mới</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="title">Tiêu đề</label>
                                <div class="controls">
                                    <input type="text" ng-change="changeSlug(title)" data-ng-model="title" name="title" id="title" class="form-control" placeholder="Title" required>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.title.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="slug">Slug</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="slug" id="slug" class="form-control" placeholder="Slug">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="totalChapters">Tổng số tập/chương</label>
                                <div class="controls">
                                    <input type="number" min="1" data-ng-model="totalChapters" id="totalChapters" class="form-control" placeholder="Tổng số tập/chương">
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.totalChapters.$error" ng-messages-multiple ng-if="submitted">
                                    <!-- <error-message/> -->
                                    <div ng-message="min">Mni</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="image">Hình đại diện</label>
                                <div class="controls">
                                    <input type="file" name="file" nv-file-select uploader="uploader" />
                                    <input type="hidden" name="image" ng-model="image">
                                    <img ng-src="{{review_image}}" ng-show="review_image" style="max-width: 200px; max-height: 200px; padding-top: 10px" />
                                    <p class="help-block" ng-hide="review_image">Cho phép: hình ảnh</p>
                                    <div ng-show="isUploadImage">
                                        <div class="progress progress-sm active">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description">Giới thiệu</label>
                                <div class="controls">
                                    <textarea class="form-control" ui-tinymce="tinymceOptions" name="description" data-ng-model="description" rows="10"></textarea>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.description.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="categories">Thể loại</label>
                                <div class="controls">
                                    <select ui-select2 class="form-control" name="category" data-ng-model="category" id="category" ng-options="category._id as category.name for category in categories.items" required>
                                        <!-- <option value="">uncategory</option> -->
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.category.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message require-msg="You did not select a field" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="tags">Nhãn</label>
                                <div class="controls ">
                                    <select ui-select2="select2Options" handle-select-multiple handle-list="tags.items" class="form-control" data-ng-model="tag" id="tag" name="tag" ng-options="tag._id as tag.name for tag in tags.items" data-placeholder="Chọn tags" multiple="multiple" ng-required="true">
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.tag.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message require-msg="You did not select a field" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="user">Tác giả</label>
                                <select ui-select2 class="form-control" data-ng-model="user" id="user" name="user" ng-options="user._id as user.name for user in users.items" data-placeholder="Chọn user" ng-required="true">
                                    <option value="">-- Chọn tác giả</option>
                                </select>
                                <div class="error-messages message" ng-messages="PostForm.user.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status">Trạng thái</label>
                                <div class="controls">
                                    <select class="form-control highlight_select" name="status" ng-init="status = 1" data-ng-model="status" id="status" ng-options="item.value as item.name for item in statuses" required>
                                </select>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.status.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="meta_title">Meta title</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="meta.title" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="meta_desc">Meta description</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="meta.description" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="meta_desc">Meta keyword</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="meta.keyword" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>