<section data-ng-controller="PostsController" data-ng-init="findOne(); initialPost()">
    <section class="content-header">
        <h1>Bộ truyện</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <form name="PostForm" novalidate>
            <div class="row">
                <div class="callout">
                    <div class="box-footer">
                        <div class="form-group">
                            <!-- <a class="btn btn-primary" ng-click="create()">Create</a>
                        &nbsp;&nbsp; -->
                            <a class="btn btn-primary" ng-click="update(PostForm.$valid, 'GOTOLIST')">Lưu & thoát</a> &nbsp;&nbsp;
                            <a class="btn btn-primary" ng-click="update(PostForm.$valid)">Lưu</a> &nbsp;&nbsp;
                            <input type="button" value="Thoát" class="btn btn-default" ng-click="gotoList()"> &nbsp;&nbsp;
                            <input type="button" value="Xóa" class="btn btn-danger" ng-click="remove(post._id)">
                        </div>

                        <notice-dir/>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cập nhật bộ truyện</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="title">Tiêu đề</label>
                                <div class="controls">
                                    <input type="text" ng-change="changeSlug(title, true)" name="title" data-ng-model="post.title" id="title" class="form-control" placeholder="Title" required>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.title.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="title">Slug</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="post.slug" id="slug" class="form-control" placeholder="Slug">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="image">Hình đại diện</label>
                                <div class="controls">
                                    <input type="file" name="file" nv-file-select uploader="uploader" />
                                    <input type="hidden" name="image" ng-model="post.image">
                                    <img ng-src="{{review_image}}" ng-show="review_image" style="max-width: 200px; max-height: 200px; padding-top: 10px" />
                                    <p class="help-block" ng-hide="review_image">Cho phép: hình ảnh</p>
                                    <div ng-show="isUploadImage">
                                        <div class="progress progress-sm active">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description">Giới thiệu</label>
                                <div class="controls">
                                    <textarea ui-tinymce="tinymceOptions" class="form-control" data-ng-model="post.description" rows="12" name="description"></textarea>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.description.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="categories">Thể loại</label>
                                <div class="controls">
                                    <select ui-select2 class="form-control" name="category" data-ng-model="post.category" id="category" ng-options="category._id as category.name for category in categories.items" required>
                                        <!-- <option value="">uncategory</option> -->
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.category.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message require-msg="You did not select a field" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="tags">Nhãn</label>
                                <div class="controls" render-select="render_select">
                                    <select ui-select2="select2Options" handle-select-multiple handle-list="tags.items" class="form-control" data-ng-model="post.tags" id="tag" name="tag" ng-options="tag._id as tag.name for tag in tags.items" data-placeholder="Chọn tags" multiple="multiple"
                                        required>
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.tag.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message require-msg="You did not select a field" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="user">Tác giả</label>
                                <select ui-select2 class="form-control" data-ng-model="post.user" id="user" name="user" ng-options="user._id as user.name for user in users.items" data-placeholder="Chọn user" required>
                                </select>
                                <div class="error-messages message" ng-messages="PostForm.user.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status">Trạng thái</label>
                                <div class="controls">
                                    <select class="form-control highlight_select" name="status" data-ng-model="post.status" id="status" ng-options="item.value as item.name for item in statuses" required>
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="PostForm.status.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message require-msg="You did not select a field" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="meta_title">Meta title</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="post.meta.title" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="meta_desc">Meta description</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="post.meta.description" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="meta_desc">Meta keyword</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="post.meta.keyword" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>