.search-select {
  position: relative; }

.select-data {
  position: relative;
  height: 0px;
  width: 100%; }

.select-data-panel {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #555;
  z-index: 999; }

.select-data-item {
  padding: 8px 5px;
  border-top: 1px solid #eee;
  cursor: pointer; }

.select-data-item:hover {
  background: #eee; }

.selected-panel {
  max-height: 200px;
  overflow: hidden;
  padding: 5px;
  background: #eee; }

.selected-item {
  /*border: 1px solid #aaa;*/
  margin: 1px;
  padding: 3px 5px;
  display: inline-block;
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: #fff;
  cursor: pointer;
  border-radius: 5px; }

.selected-item i {
  font-size: 10px;
  margin-right: 3px; }

/* body {
    min-height: 700px;
} */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.pagination > .active > span {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7; }

div.dataTables_filter {
  text-align: left; }

div.dataTables_filter select {
  width: 75px;
  display: inline-block; }

.dataTables_filter label {
  margin-right: 10px; }

.user-name {
  text-transform: capitalize; }

.container.admin-message {
  padding-top: 20px; }

.alert {
  padding: 10px; }

.content-wrapper {
  min-height: 700px; }

.highlight_select {
  background: #5cb85c;
  color: #FFFFFF; }

a.btn {
  text-decoration: none; }

.error-messages.message div {
  font-weight: bold;
  color: red; }

.alert-dismissable .close,
.alert-dismissible .close {
  right: 1px; }

.fa.fa-calendar {
  cursor: pointer; }

.filter-layout .form-group {
  margin: 5px 10px 5px 0px !important; }

.filter-layout .control-label {
  margin-right: 10px !important; }

.filter-layout .filter-submit {
  display: block !important; }

.filter-layout p {
  margin: 0 !important; }

@media (min-width: 1200px) {
  .admin-message.container {
    width: auto; } }
