<section data-ng-controller="ChaptersController" data-ng-init="find()">
    <section class="content-header">
        <h1>Chapters</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List Chapters</h3>
                        <div class="pull-right">
                            <a class="btn btn-block btn-primary" data-ui-sref="createChapter({postId: queryPostId})">New</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <notice-dir></notice-dir>

                        <div class="box-tools">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-inline filter-layout">
                                        <div class="form-group">
                                            <label class="control-label" for="keyword">Keyword</label>
                                            <input type="text" name="keyword" data-ng-model="search.keyword" id="keyword" class="form-control" placeholder="Enter keyword..." />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="status">Status</label>
                                            <select class="form-control" ng-change="filter()" data-ng-model="search.status" id="status" ng-options="item.value as item.name for item in statuses">
                                                <option value="">-- All status --</option>
                                            </select>
                                        </div>
                                        <div class="form-group filter-submit">
                                            <a class="btn btn-primary" ng-click="filter()">Filter</a>
                                            <a class="btn btn-default" ng-click="reset()">Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class="pull-left">
                            <p>Total items: {{totalItems}}</p>
                            <p>Total page: {{totalPage}}</p>
                            <p>Total showing items: {{items.length}}</p>
                        </div>
                        <div>&nbsp;</div>
                        <table id="table-list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Thứ tự</th>
                                    <th>Tiêu đề</th>
                                    <th>Status</th>
                                    <th>Ngày tạo</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="chapter in items | filter: query">
                                    <td><a data-ui-sref="editChapter({chapterId: chapter._id, postId: queryPostId})">{{chapter._id}}</a></td>
                                    <td>
                                        <a href="javascript:void(0)" ng-click="changeOrder(chapter, 'down')"><span class="glyphicon glyphicon-arrow-down"></span></a>
                                        <span>{{chapter.order}}</span>
                                        <a href="javascript:void(0)" ng-click="changeOrder(chapter, 'up')"><span class="glyphicon glyphicon-arrow-up"></span></a>
                                    </td>
                                    <td>{{chapter.title}}</td>
                                    <td><span class="label label-success" ng-if="chapter.status == 1">Công khai</span><span class="label label-danger" ng-if="chapter.status == 0">Không công khai</span></td>
                                    <td>{{chapter.created | date:'dd/MM/yyyy hh:mm'}}</td>
                                    <td>
                                        <!-- <a title="Link" href="{{webUrl}}/{{chapter.communityId.slug}}/chia-se-thao-luan/{{chapter.slug}}/{{chapter.shortId}}" target="_blank">
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a> -->
                                        <a data-ui-sref="editChapter({chapterId: chapter._id, postId: queryPostId})" title="Edit">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                        <a ng-click="remove(chapter._id)" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <ul boundary-links="true" items-per-page="itemsPerPage" max-size="numberVisiblePages" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></ul> -->
                        <bd-pagination max-page="10" name="chapter_page" current-page="currentPage" total-page="totalPage" page-changed="pageChanged" />
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center" data-ng-hide="!items.$resolved || items.length">
                    No Chapters yet, why don't you <a data-ui-sref="createChapter">create one</a>?
                </div>
            </div>
        </div>
    </section>
</section>