<section data-ng-controller="TagController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>Tag</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <notice-dir></notice-dir>
                        <h3 data-ng-bind="tag.name"></h3>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary" data-ui-sref="editTag({categoryId: tag._id})">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-primary" ng-click="remove(tag._id);">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>