<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>Categories</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="callout">
                <div class="box-footer">
                    <div class="form-group">
                        <!-- <a class="btn btn-primary" ng-click="create()">Create</a>
                      &nbsp;&nbsp; -->
                        <a class="btn btn-primary" ng-click="update(CateForm.$valid, 'GOTOLIST')">Save & List</a> &nbsp;&nbsp;
                        <a class="btn btn-primary" ng-click="update(CateForm.$valid)">Apply</a> &nbsp;&nbsp;
                        <input type="button" value="Cancel" class="btn btn-default" ng-click="gotoList()"> &nbsp;&nbsp;
                        <input type="button" value="Delete" class="btn btn-danger" ng-click="remove(category._id)">
                    </div>
                    <notice-dir/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Category</h3>
                    </div>
                    <form name="CateForm" novalidate>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="category.name" name="name" id="name" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="error-messages message" ng-messages="CateForm.name.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="slug">Slug</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="category.slug" name="slug" id="slug" class="form-control" placeholder="Slug">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status">Status</label>
                                <div class="controls">
                                    <select class="form-control" name="status" data-ng-model="category.status" id="status" ng-options="item.value as item.name for item in statuses" required>
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="CateForm.status.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message require-msg="You did not select a field" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description">Description</label>
                                <div class="controls">
                                    <textarea class="form-control" ui-tinymce="" name="description" data-ng-model="category.description" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>